{% extends 'base.html' %}
{% block title %}Market{% endblock title %}
{% block body %}
<h1 class="p-4 pt-4">Market Page!</h1>

<div class="container">
    <table class="table table-hover table-dark table-striped">
        <thead class="table-dark">
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Barcode</th>
                <th scope="col">Price</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items  %}

            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.barcode }}</td>
                <td>{{ item.price }}$</td>
                <td>
                    <button class="btn btn-outline-primary btn-sm">More info</button>
                    <button class="btn btn-success  btn-sm">Purchase</button>
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock body %}
 
